<h2>Task Group</h2>

<div>
  <button class={{if mowLawn.isRunning 'button-primary'}} onclick={{perform mowLawn}}>
    Mow Lawn
  </button>

  <button class={{if doDishes.isRunning 'button-primary'}} onclick={{perform doDishes}}>
    Do Dishes
  </button>

  <button class={{if changeDiapers.isRunning 'button-primary'}} onclick={{perform changeDiapers}}>
    Change Diapers
  </button>
</div>

<ul>
  <li>Chores group state: {{chores.state}}</li>
  <li>Last chore state: {{lastChoreDescription}}</li>
</ul>
