<div class="widget">{{hello-there}}</div>

<div class="widget">{{countdown-timer}}</div>

<div class="widget">{{multi-yielder}}</div>

<div class="widget">{{multi-graph}}</div>

<div class="widget">{{task-killer}}</div>

<div class="widget">{{task-tracker}}</div>
