<div class="widget">{{hello-there}}</div>

<div class="widget">{{countdown-timer}}</div>

<div class="widget">{{multi-yielder}}</div>

<div class="widget">{{multi-graph}}</div>

<div class="widget">{{task-killer}}</div>

<div class="widget">{{task-tracker}}</div>

<div class="widget">{{task-family}}</div>

<div class="widget">{{task-group}}</div>

<div class="widget">{{meaning-of-life}}</div>

<div class="widget">{{need-for-speed}}</div>
